$mobile: 512px;
$color-secpndary: var(--color-secondary);
$color-primary: var(--color-primary);
$color-white: var(--color-white);
$color-white-65: var(--color-white-65);
$bg-primary: var(--color-primary);
$color-white-075: var(--color-white-075);
$color-white-15: var(--color-white-15);
$brightness-lighter: var(--brightness-lighter);//280
$brightness: var(--brightness);//110
$bg-dark: var(--bg-dark);
$bg-dark2: var(--bg-dark2);